.container .text{
    text-align: center;
    color: black;
    padding: 12px;

}
.items{
    width: 400px;
    padding: 12px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    border-radius: 6px;
    margin-left: 32%;
}
.items:hover{
    background-color: rgb(95, 94, 94);
    cursor: pointer;
}
.card .items img{
    width: 12%;
    border-radius: 5px;

}
.items p{
    margin-top: 11px;
}
.items span{
    margin-top: 11px;
}
.items span i{
    font-size: 22px;
}
.seekBar{
    background-color: black;
    color: white;
    margin-top: 12px;
    padding: 11px;
}
.seekBar input{
    width: 420px;
    text-align: center;
    margin-left: 35%;
    margin-top: 7px;
}
.context{
    display: flex;
    justify-content: center;
}
.context p{
    margin-inline:22px;
    margin-top: 7px;
    font-size: 18px;
}
.context i{
    font-size: 36px;
}
.context img{
    width: 20%;
    height: 20%;
    opacity: 0;
    transition: 1s ease;
}
/* .seekBar .context img{
    width: 4px;
    height: 2%;
} */